.item__menu-active {
  border-left: 0.3rem solid theme("colors.tertiary.100");
  padding-left: 0.5rem;
  transition: all 0.3s ease;
}

.button__menu {
  padding: 0.5rem;
  width: 2.8rem;
  height: 2.8rem;
  font-size: 1.3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  z-index: 999;
}
