.bg_main {
  background-color: $bg_main;
}

.bg__container {
  background-color: $color_blue;
}

.font__poppins {
  font-family: "Poppins", sans-serif;
}

.social__item {
  background-color: white;
  color: $color_blue;
  border: 2px solid $color_blue;
  transition: all 0.5s ease;
  &:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }
}

.button__cv {
  border: 2px solid $color_orange;
  background-color: $color_orange;
  transition: all 0.5s ease;
  &:hover {
    border-color: white;
    background-color: white;
    color: black;
  }
}

.button__github {
  border: 2px solid white;
  background-color: white;
  color: black;
  transition: all 0.5s ease;
  &:hover {
    border-color: $color_orange;
    background-color: $color_orange;
    color: white;
  }
}

.overlay-bg {
  background-image: url("/background-home.png");
  background-size: contain;
  background-position: right center;
  position: absolute;
  top: 50%;
  right: -4rem;
  width: 70%;
  height: 70%;
  opacity: 0.1;
  transform: translateY(-50%);
}

.item__menu-active {
  border-left: 0.3rem solid $color_orange;
  padding-left: 0.5rem;
  transition: border-left 0.3s ease, padding-left 0.3s ease-in-out;
}
