.bg_main {
  background-color: $bg_main;
}

.bg__container {
  background-color: $color_blue;
}

.text__container {
  color: $color_blue;
}

.font__poppins {
  font-family: "Poppins", sans-serif;
}

.title__page::after {
  content: "";
  display: block;
  width: 3rem;
  border-bottom: 0.4rem solid $color_blue;
  border-radius: 0.5rem;
  margin-top: 0.3rem;
}
