.scrollable {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5rem;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 0.25rem;
  }
}
